# Môi trường ảo Python
.venv/
venv/
env/

# Files cache của hệ thống và Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Biến môi trường và cấu hình bảo mật
.env
*.pem

# Các thư mục cấu hình của IDE (nếu dùng)
.vscode/
.idea/

# File hệ điều hành
.DS_Store
Thumbs.db